<!DOCTYPE html>
<html>
<head>
  <title>Bubz</title>
  <%= stylesheet_link_tag    "bubz/application", :media => "all" %>
  <%= javascript_include_tag "bubz/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
